#viz .pbct {
  position: relative;
  border: 1px solid #ccc;
  padding: 1px;
  margin: 1px;
  background: white;
  width: 80%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  overflow: hidden;
  color: #ccc;
  height: 1.2em;
}

#viz .pb {
  position: absolute;
  left: 1;
  top: 1;
  height: 1.2em;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: black;
}
