@import url("http://spreadsheets.google.com/client/css/159550030-trix_main.css");

#viz {
  padding: 0.1em 0.1em 1em 1em;
}

#viz .barcontainer {
  border: 1px solid #DDD;
  margin: 1px;
  padding: 1px;
  background: white;
  width: 80%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #666666;
  height: 1.2em;
  overflow: hidden;
}

#viz .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 1.2em;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: black;
}

#viz .barhack {
  position: relative;
}

#viz ul {
  list-style-type: none;
}

#viz .hid {
  display: none;
}

#viz .show{
  display: auto;
  cursor:pointer;
}

#viz .exco {
  border: 1px solid #aaa;
  margin: 10px 0 0 10px;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #ddd;
  cursor:pointer;
}
